<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SM.MS图床</title>
</head>
<body>
<center>

    <h1>SM.MS图床</h1>
    <hr>

    <a href="/uploadindex">
        <button>图片上传</button>
    </a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/img/history">
        <button>上传历史</button>
    </a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/img/clear">
        <button>清除全部已上传图片</button>
    </a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/user/logout">
        <button>退出登录</button>
    </a>

</center>
</body>
</html>