<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SM.MS</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <noscript>
        <link rel="stylesheet" th:href="@{/css/noscript.css}"/>
    </noscript>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header" th:object="${smmsUser}">
        <h1><a href="/img/smms"><span th:text="${smmsUser.username}"></span></a></h1>
        <nav>
            <ul>
                <li><a href="/img/smms" class="icon fa-info-circle">返回主页</a></li>
                <li><a href="#upload" class="icon fa-info-circle">上传图片</a></li>
                <li><a href="#footer" class="icon fa-info-circle">About</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <div id="main">
        <article class="thumb" th:each="smmsImage:${smmsImageList}">
            <a th:href="${smmsImage.getUrl()}" class="image">
                <img th:src="${smmsImage.getUrl()}" th:alt="${smmsImage.getFilename()}"/></a>
            <h2 th:text="${smmsImage.getFilename()}"></h2>
            <!--<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>-->
        </article>
    </div>

    <!-- Footer -->
    <footer id="footer" class="panel">
        <div class="inner split">
            <div>
                <section>
                    <h2>SM.MS图床 图片管理工具</h2>
                    <p>可视化管理用户在SM.MS图床中的图片信息</p>
                </section>
                <p class="copyright">
                    &copy; 李文飞. Design: <a href="http://html5up.net">HTML5 UP</a>.
                </p>
            </div>
            <div>
                <section>
                    <h2>Follow me on ...</h2>
                    <ul class="icons">
                        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                        <li><a href="https://github.com/heart14" class="icon fa-github"><span class="label">GitHub</span></a></li>
                        <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                        <li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                    </ul>
                </section>
            </div>
        </div>
    </footer>

    <footer id="upload" class="panel">
        <div class="inner">
            <section>
                <h2>SM.MS图片上传</h2>
            </section>
            <hr>
            <section>
                <form id="imgUpload" action="/img/upload" method="POST" enctype="multipart/form-data">
                    <input id="multipartFiles" name="multipartFiles" type="file" multiple>
                    <button>上传图片</button>
                </form>
            </section>
        </div>
    </footer>

</div>

<!-- Scripts -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.poptrox.min.js}"></script>
<script th:src="@{/js/browser.min.js}"></script>
<script th:src="@{/js/breakpoints.min.js}"></script>
<script th:src="@{/js/util.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>