<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SM.MS图床</title>
</head>
<body>
<center>

    <h1>SM.MS图床</h1>
    <hr>

    <form id="loginForm" name="loginForm" action="/user/login" enctype="application/x-www-form-urlencoded"
          method="post">
        <table>
            <tbody>
            <tr>
                <td>用户名</td>
                <td><input id="username" name="username" type="text" placeholder="请输入用户名"></td>
            </tr>
            <tr>
                <td>密码</td>
                <td><input id="password" name="password" type="password" placeholder="请输入密码"></td>
            </tr>
            <tr>
                <td><input type="submit" value="登录"></td>
            </tr>
            </tbody>
        </table>

    </form>
    <br/>
    <br/>
    <form id="regForm" name="regForm" action="/user/reg" enctype="application/x-www-form-urlencoded" method="post">
        <table>
            <tbody>
            <tr>
                <td>用户名</td>
                <td><input id="usernamereg" name="username" type="text" placeholder="请输入用户名"></td>
            </tr>
            <tr>
                <td>密码</td>
                <td><input id="passwordreg" name="password" type="password" placeholder="请输入密码"></td>
            </tr>
            <tr>
                <td><input type="submit" value="注册"></td>
            </tr>
            </tbody>
        </table>

    </form>

</center>
</body>
</html>